<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.speech.dao.SpeechMapper">  
	<select id="userlist" parameterType="map" resultType="speechCommand">
		SELECT
		  speech_num,
		  mem_id,
		  <![CDATA[
		  REPLACE(REPLACE(speech_title,'<','&lt;'),'>','&gt;') speech_title,
		  ]]>
		  speech_content,
		  speech_people,
		  speech_location,
		  speech_price,
		  speech_date,
		  speech_hit,
		  speech_status,
		  speech_regdate,
		  (SELECT count(*) FROM speech_reservation sr WHERE sr.speech_num=s.speech_num)countres
		FROM (SELECT 
				a.*,
				rownum rnum
			  FROM (SELECT
			  			*
			  		FROM speech
			  		<where>
			  			speech_date>sysdate 
			  			<if test="keyword!='' and keyfield=='speech_title'">
			  				AND speech_title like '%' || #{keyword} || '%'
			  			</if>
			  			<if test="keyword!='' and keyfield=='speech_content'">
			  				AND speech_content like '%' || #{keyword} || '%'
			  			</if>
			  			<if test="keyword!='' and keyfield=='speech_location'">
			  				AND speech_location like '%' || #{keyword} || '%'
			  			</if>
			  		</where>
			  		ORDER BY speech_num DESC)a)s
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]> 
	</select>
	<select id="getRowUserCount" parameterType="map" resultType="Integer">
		SELECT
		  count(*)
		FROM speech
		<where>
  			speech_date>sysdate 
  			<if test="keyword!='' and keyfield=='speech_title'">
  				AND speech_title like '%' || #{keyword} || '%'
  			</if>
  			<if test="keyword!='' and keyfield=='speech_content'">
  				AND speech_content like '%' || #{keyword} || '%'
  			</if>
  			<if test="keyword!='' and keyfield=='speech_location'">
  				AND speech_location like '%' || #{keyword} || '%'
  			</if>
  		</where>
	</select>


	<select id="list" parameterType="map" resultType="speechCommand">
		SELECT
		  speech_num,
		  mem_id,
		  <![CDATA[
		  REPLACE(REPLACE(speech_title,'<','&lt;'),'>','&gt;') speech_title,
		  ]]>
		  speech_content,
		  speech_people,
		  speech_location,
		  speech_price,
		  speech_date,
		  speech_hit,
		  speech_status,
		  speech_regdate,
		  (SELECT count(*) FROM speech_reservation sr WHERE sr.speech_num=s.speech_num)countres
		FROM (SELECT 
				a.*,
				rownum rnum
			  FROM (SELECT
			  			*
			  		FROM speech
			  		<where>
			  			<if test="keyword!='' and keyfield=='speech_title'">
			  				speech_title like '%' || #{keyword} || '%'
			  			</if>
			  			<if test="keyword!='' and keyfield=='speech_content'">
			  				speech_content like '%' || #{keyword} || '%'
			  			</if>
			  			<if test="keyword!='' and keyfield=='speech_location'">
			  				speech_location like '%' || #{keyword} || '%'
			  			</if>
			  		</where>
			  		ORDER BY speech_num DESC)a)s
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]> 
	</select>
	<select id="getRowCount" parameterType="map" resultType="Integer">
		SELECT
		  count(*)
		FROM speech
		<where>
  			<if test="keyword!='' and keyfield=='speech_title'">
  				speech_title like '%' || #{keyword} || '%'
  			</if>
  			<if test="keyword!='' and keyfield=='speech_content'">
  				speech_content like '%' || #{keyword} || '%'
  			</if>
  			<if test="keyword!='' and keyfield=='speech_location'">
  				speech_location like '%' || #{keyword} || '%'
  			</if>
  		</where>
	</select>
	
	<select id="reserveList" parameterType="map" resultType="speechReservationCommand">
		SELECT
			sr.speech_reserve_num,
			sr.speech_num,
			sr.speech_reserve_status,
			sr.speech_reserve_date,
			sr.mem_id,
			m.mem_name
		FROM  member m,(SELECT
				a.*,
				rownum rnum
			  FROM (SELECT
			  			*
			  		FROM speech_reservation 
					<where>
						<if test="keyword!='' and keyfield=='mem_id'">
			  				mem_id= #{keyword} AND 
			  			</if>
			  			<if test="keyword!='' and keyfield=='speech_reserve_status'">
			  				speech_reserve_status= #{keyword} AND 
			  			</if>
			  			 speech_num=#{speech_num}
			  		</where>
					ORDER BY speech_reserve_num ASC)a)sr 
			<![CDATA[	
			WHERE  rnum >= #{start} AND rnum <= #{end} AND sr.mem_id = m.mem_id
			]]> 
	</select>
	
	<!-- 강연 예약 미승인자 -->
	<select id="noCheckReserveList" parameterType="map" resultType="speechReservationCommand">
		SELECT 
			sr.speech_reserve_num,
			sr.speech_num,
			s.speech_title,
			sr.mem_id,
			sr.speech_reserve_status,
			sr.speech_reserve_date 
		FROM (SELECT 
				a.*, 
				rownum rnum 
			FROM(SELECT 
					* 
				FROM speech_reservation 
				ORDER BY speech_reserve_num ASC)a) sr, speech s 
			WHERE sr.speech_num=s.speech_num 
			AND speech_reserve_status = 0
		<![CDATA[	
		AND rnum >= #{start} AND rnum <= #{end}
		]]> 
	</select>
	<select id="getRowCountNoCheck" parameterType="map" resultType="Integer">
		SELECT
		  count(*)
		FROM speech_reservation
		WHERE speech_reserve_status = 0
	</select>
	<!-- 강연 예약 미승인자 -->
	<!-- 강연 예약 취소자 -->
	<select id="speechReserveCancelList" parameterType="map" resultType="speechReservationCommand">
		SELECT 
			sr.speech_reserve_num,
			sr.speech_num,
			s.speech_title,
			sr.mem_id,
			sr.speech_reserve_status,
			sr.speech_reserve_date 
		FROM (SELECT 
				a.*, 
				rownum rnum 
			FROM(SELECT 
					* 
				FROM speech_reservation 
				ORDER BY speech_reserve_num ASC)a) sr, speech s 
			WHERE sr.speech_num=s.speech_num 
			AND speech_reserve_status=2
		<![CDATA[	
		AND rnum >= #{start} AND rnum <= #{end}
		]]> 
	</select>
	<select id="getReserveCancelCount" parameterType="map" resultType="Integer">
		SELECT
		  count(*)
		FROM speech_reservation
		WHERE speech_reserve_status=2
	</select>
	<!-- 강연 예약 취소자 -->
	
	
	<!--마이페이지에서 불러오기  -->
	<select id="speech_list_cih" parameterType="map" resultType="speechReservationCommand">
		SELECT
		 	*
		FROM (SELECT 
		        a.*,
		        rownum rnum
		      FROM (SELECT 
		      	s2.*, s1.speech_title, s1.speech_price,s1.speech_regdate
		            FROM speech s1, speech_reservation s2
		            <where>
		            	s1.speech_num = s2.speech_num and s2.mem_id = #{mem_id} 
		            	<if test="reserve_status == 0 ">
		            		and s2.speech_reserve_status = 0
		            	</if>
		            	<if test="reserve_status == 1 ">
		            		and s2.speech_reserve_status = 1
		            	</if>
		            	<if test="reserve_status == 2 ">
		            		and s2.speech_reserve_status = 2
		            	</if>
		            	<if test="reserve_status == 3 ">
		            		and s2.speech_reserve_status = 3
		            	</if>
			            <if test="reserve_status == 9 ">
			            	and (s2.speech_reserve_status = 0 or
			            	s2.speech_reserve_status = 1 or
			            	s2.speech_reserve_status = 2 or
			            	s2.speech_reserve_status = 3) 
		            	</if>
		            </where>
		            ORDER BY s1.speech_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>              
	</select>
	
	
</mapper>