<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.notice.dao.NoticeMapper">
	<select id="list" parameterType="map" resultType="noticeCommand">
		SELECT
		notice_num,
		mem_id,
			<![CDATA[
			REPLACE(REPLACE(notice_title,'<','&lt;'),'>','&gt;')notice_title,
			]]>
		notice_content,
		notice_hit,
		notice_regdate
		FROM (SELECT
		a.*,
		rownum rnum
		FROM (SELECT
		*
		FROM notice
		<where>
			<if test="keyword != '' and keyfield == 'notice_title'">
				notice_title like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'mem_id'">
				mem_id like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'notice_content'">
				notice_content like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'all'">
				notice_title like '%' || #{keyword} || '%' or
				mem_id like '%' || #{keyword} || '%' or
				notice_content like '%' || #{keyword} || '%'
			</if>
		</where>
		ORDER BY notice_num DESC)a)
		<![CDATA[		
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
	<select id="getRowCount" parameterType="map" resultType="Integer">
		SELECT
		count(*)
		FROM notice
		<where>
			<if test="keyword != '' and keyfield == 'notice_title'">
				notice_title like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'mem_id'">
				mem_id like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'notice_content'">
				notice_content like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'all'">
				notice_title like '%' || #{keyword} || '%' or
				mem_id like '%' || #{keyword} || '%' or
				notice_content like '%' || #{keyword} || '%'
			</if>
		</where>
	</select>
</mapper>