<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.event.dao.EventMapper">
	<select id="list" parameterType="map" resultType="eventCommand">
		SELECT
			event_num,
			mem_id,
			<![CDATA[
			REPLACE(REPLACE(event_title, '<','$lt;'),'>','$gt;') event_title,
			]]>
			event_content,
			event_hit,
			event_filename,
			event_startdate,
			event_enddate,
			event_regdate
		FROM (SELECT
				a.*,
				rownum rnum
			FROM (SELECT
					*
				  FROM event
				  <where>
				  	<if test="keyword !='' and keyfield == 'title'">
				  		title like '%' || #{keyword} || '%'
				  	</if>
				  	<if test="keyword !='' and keyfield == 'content'">
				  		content like '%' || #{keyword} || '%'
				  	</if>
				  	<if test="keyword !='' and keyfield == 'all'">
				  		title like '%' || #{keyword} || '%' or
				  		content like '%' || #{keyword} || '%'
				  	</if>
				  </where>
				  ORDER BY event_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
	
	<select id="getRowCount" parameterType="map" resultType="integer">
		SELECT
			count(*)
		FROM event
		<where>
		  	<if test="keyword !='' and keyfield == 'title'">
		  		title like '%' || #{keyword} || '%'
		  	</if>
		 	<if test="keyword !='' and keyfield == 'content'">
				content like '%' || #{keyword} || '%'
		  	</if>
		  	<if test="keyword !='' and keyfield == 'all'">
		  		title like '%' || #{keyword} || '%' or
		  		content like '%' || #{keyword} || '%'
		  	</if>
		  </where>
	</select>
	
	<select id="listReply" parameterType="map" resultType="eventReplyCommand">
		SELECT
		  event_re_num,
		  event_re_content,
		  to_char(event_re_date,'YYYY-MM-DD HH24:MI:SS') event_re_date,
		  event_num,
		  mem_id
		FROM (SELECT 
		        a.*,
		        rownum rnum
		      FROM (SELECT 
		               *
		            FROM event_reply
		            WHERE event_num = #{event_num}
		            ORDER BY event_re_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>            
	</select>	
</mapper>